<!doctype html>
<html lang="ru"> 
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>        
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38711753?query=java%20Dnepropetrovsk">Regular / Senior Software Developer JavaScript Вы откликнулись</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38843348?query=java%20Dnepropetrovsk">C++ Developer for Imagine Software Вы откликнулись</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38841184?query=java%20Dnepropetrovsk">Разработчик Corezoid Вы откликнулись</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">COMFY</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38966640?query=java%20Dnepropetrovsk">Middle / Senior Android Developer на немецкий проект Вы откликнулись</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38858971?query=java%20Dnepropetrovsk">Водитель такси Вы откликнулись</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">ИП Парк такси</td> 
     <td class="salary">20 000-25 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38768974?query=java%20Dnepropetrovsk">Javascript (ES6) developer Вы откликнулись</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">ИП Devsteam.mobi</td> 
     <td class="salary">11 200-28 000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/38866805?query=java%20Dnepropetrovsk">Старший инженер-программист Вы откликнулись</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">ИНТЕРПАЙП</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>